body.dark-mode {
  /*background-color: #38343c !important;*/
  background-color: #171a21 !important;
  color: #c7d5e0 !important;
}

body.dark-mode [class*="accountList"],
body.dark-mode [class*="playerList"],
body.dark-mode [class*="leagueList"],
body.dark-mode [class*="leagueActions"],
body.dark-mode [class*="signupForm"],
body.dark-mode [class*="fixturesContainer"] {
  background-color: #1b2838 !important;
  border: 1px solid #2a475e !important;
}

body.dark-mode [class*="modalFixture"] {
  background-color: #1b2838 !important;
  color: #c7d5e0 !important;
}

body.dark-mode [class*="playerCard"],
body.dark-mode [class*="dropdownHeader"],
body.dark-mode [class*="dropdownList"],
body.dark-mode [class*="modalContent"],
body.dark-mode [class*="playerName"],
body.dark-mode [class*="subCard"],
body.dark-mode [class*="dropdownItem"],
body.dark-mode [class*="fixtureCard"],
body.dark-mode [class*="teamEvents"] {
  background-color: #293749 !important;
  color: #c7d5e0 !important;
  border-color: #34455c !important;
}

body.dark-mode [class*="playerPoints"],
body.dark-mode [class*="fixtureScore"] {
  background-color: #1e2b3b !important;
  color: #c7d5e0 !important;
}

body.dark-mode [class*="playerMeta"],
body.dark-mode [class*="fixtureTeam"] {
  color: #c7d5e0 !important;
}

body.dark-mode [class*="subCard"],
body.dark-mode [class*="subCard"],
body.dark-mode [class*="fixtureCard"],
body.dark-mode [class*="fixtureScore"] {
  transition: none !important;
  animation: none !important;
}

body.dark-mode [class*="playerCard"]:hover,
body.dark-mode [class*="dropdownItem"]:hover,
body.dark-mode [class*="subCard"]:hover,
body.dark-mode [class*="subCard"]:hover [class*="playerName"],
body.dark-mode [class*="fixtureCard"]:hover,
body.dark-mode [class*="signupAnchor"]:hover {
  background-color: #34455c !important;
  transition: none !important;
}

body.dark-mode [class*="playerCard"]:hover {
  background-color: #34455c !important;
  color: #c7d5e0 !important;
}

body.dark-mode [class*="playerCardList"] {
  background-color: transparent !important;
}

body.dark-mode [class*="playerCardList"]:hover {
  background-color: transparent !important;
}

body.dark-mode [class*="searchInput"],
body.dark-mode [class*="filterDropdown"],
body.dark-mode [class*="leagueInput"],
body.dark-mode [class*="signupInput"] {
  background-color: #35475e !important;
  color: #c7d5e0 !important;
  border: 1px solid #202d41 !important;
}

body.dark-mode [class*="saveTeam"],
body.dark-mode [class*="modalButton"],
body.dark-mode [class*="addButton"],
body.dark-mode .forwardBackButton,
body.dark-mode .gameweekHeader {
  background-color: #00cc6a !important;
  color: #000 !important;
}

body.dark-mode [class*="saveTeam"]:hover,
body.dark-mode [class*="modalButton"]:hover,
body.dark-mode [class*="addButton"]:hover,
body.dark-mode .forwardBackButton:hover,
body.dark-mode .gameweekHeader:hover {
  background-color: #00b45d !important;
}

body.dark-mode [class*="standingsBox"],
body.dark-mode [class*="leagueBox"],
body.dark-mode [class*="sidePanel"] {
  background-color: #4a4650 !important;
  color: #c7d5e0 !important;
}

body.dark-mode [class*="playerMarker"]:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark-mode [class*="signupAnchor"] {
  color: #c7d5e0;
}

body.dark-mode [class*="Goal"],
body.dark-mode [class*="Card"],
body.dark-mode [class*="subst"] {
  color: #000;
}

body.dark-mode [class*="signupAnchor"]:hover {
  background-color: #5f5f75;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
  color: #ffffff !important;
}

body.dark-mode .nav {
  background: linear-gradient(to right, #2a475e, #1b2838);
}

body.dark-mode .nav a.active,
body.dark-mode .nav a:hover {
  border-bottom: 3px solid #66c0f4;
}
