.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.leagueList,
.leagueActions {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem;
  background: #f9f9f9;
}

.leagueInput {
  width: 95%;
  padding: 10px 14px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.leagueBtn {
  background-color: #00ff85;
  color: #000;
  border: none;
  border-bottom: 2px solid currentColor;
  padding: 8px 12px;
  margin-bottom: 25px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transition: scale 0.15s;
}

.leagueBtn:hover {
  background-color: #00e07b;
}

.leagueBtn:active {
  scale: 0.97;
}

.leagueItem {
  list-style: none;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.leagueHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leagueCode {
  margin-top: 0.5rem;
  font-style: italic;
  color: #333;
}

.standings {
  margin-top: 10px;
  text-align: left;
}

.standings ol {
  padding-left: 1.5rem;
  margin-top: 5px;
}
