.formContainer {
  gap: 2rem;
  padding: 2rem;
  width: 20%;
  height: 200px;
  margin: auto;
  margin-top: 200px;
}

.signupForm {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1.5rem;
  background: #f9f9f9;
  text-align: center;
}

.signupInput {
  width: 92%;
  padding: 10px 14px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.signupButton {
  background-color: #00ff85;
  color: #000;
  border: none;
  width: 25%;
  border-bottom: 2px solid currentColor;
  padding: 8px 12px;
  margin-bottom: 25px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transition: scale 0.15s;
}

.signupButton:hover {
  background-color: #00e07b;
}

.signupButton:active {
  scale: 0.97;
}

.signupAnchor {
  text-decoration: none;
  background-color: none;
  color: #000;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: none;
}

.signupAnchor:hover {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.darkModeToggleLogin {
  all: unset;
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 1.3rem;
  cursor: pointer;
  color: inherit;
  line-height: 1;
}

.darkModeToggleLogin:hover {
  opacity: 0.8;
}
